h2 Game Over!

#game_over_stats
  .card-group
    .card
      .card-body.text-center
        h5.card-title Player 1 (#{final_stats.fetch(:player_1_name)})
        p.card-text #{final_stats.fetch(:winner).to_s == 'player_1' ? "🎉 Winner! 🎉" : "" }
        ul.list-group-list-group-flush
          li.list-group-item Time: #{final_stats.fetch(:player_1_time)}
          li.list-group-item Accuracy: #{final_stats.fetch(:player_1_accuracy)}%


    .card
      .card-body.text-center
        h5.card-title Player 2 (#{final_stats.fetch(:player_2_name)})
        p.card-text #{final_stats.fetch(:winner).to_s == 'player_2' ? "🎉 Winner! 🎉" : "" }
        ul.list-group-list-group-flush
          li.list-group-item Time: #{final_stats.fetch(:player_2_time)}
          li.list-group-item Accuracy: #{final_stats.fetch(:player_2_accuracy)}%
