#sudoku-board {
  border: thick solid;
}

.selected {
  box-shadow: 1px 1px 2px black, 0 0 25px #0d6efd, 0 0 5px #082e67;
  font-weight: bold;
}

.selected span {
  color: #0d6efd;
}

.highlighted {
  background-color: #0d6efd;
}

.highlighted span {
  color: white;
}

#selectionRow {

}

#editRow {

}
