@media print {
  #sudoku-board {
    height: 100%;
  }

  td {
    padding: 14px 18px;
  }

  .prefilledCell span {
    font-weight: 900;
  }

  .book-page {
    page-break-after: always;
    height: 6.2in;
  }
}
